<div id="calendar">
  <h2 id="month">
    <%= link_to "<", month: (@date.beginning_of_month - 1).strftime("%Y-%m") %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", month: (@date.end_of_month + 1).strftime("%Y-%m") %>
  </h2>
  <%= calendar_for @articles, year: @date.year, month: @date.month do |calendar| %>
    <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday' , 'Friday', 'Saturday') %>
    <% calendar.day(day_method: :publish_on) do |date, articles| %>
      <%= date.day %>
      <ul>
        <% articles.each do |article| %>
          <li><%= link_to article.title, article %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_article_path,
            :class => 'btn btn-primary' %>
