<div id="calendar">
  <h2 id="month">
    <%= link_to "<", month: (@date.beginning_of_month - 1).strftime("%Y-%m") %>
    <%= l @date, format: :month %>
    <%= link_to ">", month: (@date.end_of_month + 1).strftime("%Y-%m") %>
  </h2>
  <%= calendar_for @articles, year: @date.year, month: @date.month do |calendar| %>
    <%= calendar.head(t('.sunday'), t('.monday'), t('.tuesday'), t('.wednesday'), t('.thursday') , t('.friday'), t('.saturday')) %>
    <% calendar.day(day_method: :publish_on) do |date, articles| %>
      <div class="day"><%= date.day %><a href="#add_article" role="button" class="btn" data-toggle="modal" align="right">+</a></div>
      <ul>
        <% articles.each do |article| %>
          <li><%= link_to article.title, article %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_article_path,
            :class => 'btn btn-primary' %>
